.body-class {
    background-color:rgb(22,47,65);
}
.header-class {
    background-color: rgb(10, 30, 50);
    color: lightblue
}
.nav-class {
    background-color: rgb(60, 90, 110);
    color: mediumturquoise;
    font-weight: bold;
}
.title-class {
    color: red;
}
.section-title-class {
    color: rgb(208, 103, 103);
}
.text-class {
    color: paleturquoise;
}
.image-class {
    border: 10px solid;
    border-color: darkred;
}
.form-class {
    color: white;
}
.button-class {
    color: darkred;
}
.footer-class {
    background-color: rgb(30,50,80);
    color: white;
}
.faq-section-class {
    color: slateblue;
}
.cite-class {
    color:brown;
}